body {
    font-size: 10px;
}

.junit_info {
    font-size: 14px;
}

.btdetail {
    width: 100%;
    border: none;
    background: transparent;
}

.junit_info .suite--failure,
.junit_info .test--failure {
    color: red;
}

.junit_info .suite--passed,
.junit_info .test--passed {
    color: #0B9C32;
}


.action-group {
    margin-bottom: 20px;
}

.suite {
    margin-bottom: 5px;
}

.suite-wrap {
    margin-left: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.suite-header {
    border-left: 10px solid #8699a4;
    padding: 5px;
    background: white;
}

.suite-passed .suite-header  {
    border-color: #0B9C32;
    background: #cdf7d8;
}

.suite-error .suite-header,
.suite-failure .suite-header  {
    border-color: #9d261d;
    background: #f7d2cf;
}


.suite-name {
    text-transform: capitalize;
}

.suite-contents .test {
    padding: 5px;
    border-top: 1px solid #DDDDDD;
    border-left: 10px solid #8699a4;
    background: white;
}

.suite-contents .test-passed  {
    border-left: 10px solid #0B9C32;
    background: #cdf7d8;
}

.suite-contents .test-error,
.suite-contents .test-failure  {
    border-left: 10px solid #9d261d;
    background: #f7d2cf;
}

.suite-contents .test__message {
    margin-top: 5px;
}