<div class="suite suite-{{type}}" id="{{id}}">
    <div class="suite-wrap">
        <div class="suite-header" on>
            <div>
                <span class="text-primary suite-name"><strong>{{{name}}}</strong></span>
                <div>{{{labels}}}</div>
            </div>
            <button type="button" class="btn btn-default btn-sm btdetail">+</button>
            <div class="suite-contents hide">
                {{{properties}}}
                {{{tests}}}
            </div>
        </div>
    </div>
</div>
