<div class="suite suite-{{type}}" id="{{id}}">
    <div class="suite-wrap">
        <div class="suite-header" on>
            <div>
                <span class="text-primary suite-name"><strong>{{{name}}}</strong></span>
                <div>{{{labels}}}</div>
            </div>
            <a class="btdetail" href="#"><strong>[ d&eacute;tail ]</strong></a>
            <div class="suite-contents hide">
                {{{properties}}}
                {{{tests}}}
            </div>
        </div>
    </div>
</div>
